@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="https://sun9-20.userapi.com/impg/8zIsWVex52lJlYZ3KXMrLKXBNBr7bnb6UDCHMQ/Igm-lSHlo4k.jpg?size=764x720&quality=96&sign=b9fc03ed8c1ecf7ac911aec10c7adff3&type=album" class="rounded mx-auto d-block" width="600" height="600"/>
</div>